---
import ProjectCard from "./project-card.astro";
---

<section>
  <ProjectCard
    title="Back-end"
    technologies={[
      "Nextjs",
      "tailwindcss",
      "chakraui",
      "zustand",
      "swr",
      "supabase",
      "prisma",
    ]}
    links={[
      "https://github.com/SebastiansSala/kbdfans-clone",
      "https://kbdfans-clone.vercel.app/",
    ]}
    url="../../project1.png"
  >
    <p>
      desc='A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm,
      and more. Available on Visual Studio Marketplace, Package Control, Atom
      Package Manager, and npm.'
    </p>
  </ProjectCard>
  <ProjectCard
    title="Fullstack"
    technologies={["Nextjs", "Tailwindcss", "scss"]}
    links={[
      "https://github.com/SebastiansSala/x-clone",
      "https://kbdfans-clone.vercel.app/",
    ]}
    url="../../project1.png"
  >
    <p>
      Introducing my <span class="text-mark">Twitter clone</span>: a sleek,
      user-friendly app I built from the ground up. With <span class="text-mark"
        >Supabase
      </span> as the backend, it offers essential features like <span
        class="text-mark">user blocking</span
      >, following posts, and seamless follow actions. Users can <span
        class="text-mark">post</span
      >,
      <span class="text-mark">like</span>, <span class="text-mark">comment</span
      >, and even exchange <span class="text-mark">private messages</span>. Join
      the conversation and experience social networking at its best.
    </p>
  </ProjectCard>
</section>

<style>
  .text-mark {
    color: #da61c4ff;
  }
</style>
