---
import ProjectCard from "./project-card.astro"
---

<section>
  <ProjectCard
    title='Fullstack'
    desc=''
    technologies={["Nextjs", "npm", "scss"]}
    links={["arstartsrt", "arstrast"]}
    url='https://v4.brittanychiang.com/static/3b4d6e8f44baf7e6d7a0ed4b3e4d8d39/f47db/halcyon.avif'
  />
  <ProjectCard
    title='Back-end'
    desc='A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more. Available on Visual Studio Marketplace, Package Control, Atom Package Manager, and npm.'
    technologies={["Nextjs", "npm", "scss"]}
    links={["arstartsrt", "arstrast"]}
    url='https://v4.brittanychiang.com/static/3b4d6e8f44baf7e6d7a0ed4b3e4d8d39/f47db/halcyon.avif'
  />
  <ProjectCard
    title='Back-end'
    desc='A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more. Available on Visual Studio Marketplace, Package Control, Atom Package Manager, and npm.'
    technologies={["Nextjs", "npm", "scss"]}
    links={["arstartsrt", "arstrast"]}
    url='https://v4.brittanychiang.com/static/3b4d6e8f44baf7e6d7a0ed4b3e4d8d39/f47db/halcyon.avif'
  />
</section>

<style></style>
